In [14]:
import pandas as pd
import matplotlib.pyplot as plt
import pprint
from tqdm import tqdm
import warnings


def read_heat_data(variable):
    df = pd.DataFrame()
    OUTPUT_DIR = "./dataset/heat_main2/heat_main/"
    df = pd.read_csv(f"{OUTPUT_DIR}/main_{variable}.csv", header=[1, 2])[1:] \
        .reset_index(drop=True) \
        .replace(99.9000015258789, -99)

    count = (df == -99).sum()
    df = df.drop(columns=count[count > 40].index)
    df = df.reset_index(drop=True).replace(-99, 25.98989)

    return df

In [ ]:
tmax = read_heat_data("tmax")

In [19]:
tmax.tail()

              lat        8.5                                         9.5  \
              lon       73.5       76.5       77.5       78.5       76.5
26658  2023-12-27  33.439434  31.515966  32.621761  31.938437  31.615602
26659  2023-12-28  33.354618  31.098755  32.129154  31.417753  31.106861
26660  2023-12-29  33.571060  30.930048  32.143730  31.287458  31.071880
26661  2023-12-30  32.749916  31.025713  31.897165  31.465868  31.113348
26662  2023-12-31  33.282539  31.417791  32.296898  31.917067  31.517717

                                             10.5  ...       32.5             \
            77.5       78.5       79.5       75.5  ...       78.5       79.5
26658  31.201754  30.185736  30.814604  31.204880  ...  15.631735  15.143232
26659  30.654978  29.663727  30.470179  30.428257  ...  12.791723  12.212524
26660  30.492683  29.442347  30.119688  30.152172  ...  14.345260  13.920919
26661  30.516136  29.929281  30.456207  30.113411  ...  12.391891  11.650547
26662  31.030811  30.474546  30.758486  30.700085  ...  11.725672  10.573658

            33.5                                                         \
            74.5       75.5       76.5       77.5       78.5       79.5
26658  15.240127  13.549162  15.072643  14.612885  13.881981  15.670885
26659  13.091249  11.448327  12.740682  12.255867  12.062649  13.971704
26660  13.673636  12.062901  14.038389  13.648319  13.441208  14.706320
26661  11.802906  10.132116  11.866141  11.459181  11.118256  12.888037
26662  11.027138   9.529013  10.418447  10.925610  10.019050  11.050789

            34.5
            76.5       77.5
26658  13.259607  12.813614
26659  10.926683  10.595863
26660  12.224263  11.971872
26661  10.189208   9.754939
26662  10.214329   9.664385

[5 rows x 332 columns]

In [21]:
# get the first 5 columns of the data and save to csv
tmax.iloc[:, :5].tail().to_csv("tmax.csv", index=False)